@use "../../../colors" as c;

#home-page {
  background-color: c.$gray-darkest;
  text-align: center;
  font-family: 'Ubuntu Mono', monospace;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
  background-color: c.$gray-darker;
  color: c.$purple-light;

  &:hover {
    color: c.$green-light !important;
  }

  &.active {
    background-color: c.$gray-darker !important;
  }

}
