---
layout: default
---

<div class="home">

  <div id="avatar"></div>

  <div id="cowsay">
    {% include top-of-home-page.md %}
  </div>

  <div id="home-page-md">
    {% capture about %}{% include about.md %}{% endcapture %}
    {{ about | markdownify }}
  </div>

  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

</div>
