#title {
  font-size: 1.75em;
}

.nav-link {
  font-size: 1.5em;
}

.link {
  text-decoration: none !important;
}

#nav-line {
  height: 0.1em;
  background-color: blueviolet;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
