/* Colors from https://gist.github.com/bryanhunter/6178408 */

// TODO: scope this as a mixin?
// @mixin monokai {
// }

$blue-light: #89bdff;
$gray: #595959;
$gray-darker: #383830;
$gray-darkest: #141411;
$gray-lightest: #595959;
$gray-light: #e6e6e6;
$green: #a6e22a;
$green-light: #a6e22e;
$grey-dark: #272822;
$magenta: #f92672;
$purple: #ae81ff;
$purple-light: #fd5ff1;
$yellow: #e6db74;
$yellow-dark: #75715e;
$yellow-light: #f8f8f2;
